.ad_banner {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  background-size: cover;
}

.ad_text {
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

h1 {
  --color:  hsl(var(--primary-color), var(--l));
  font-size: 64px;
  color: var(--color);
}

h2 {
  color: black;
  font-size: 36px;
 
}

h3 {
  font-size: 24px;
}
main{
  background: #353535;
}
.recipe_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #d7d7d7;
background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);

  
}

.recipe_container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  
  
}

input:focus {
  outline: none;
  

}

.search_bar svg {
  height: 80%;
}

.search_bar input {
  width: 100%;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}
.search_bar:hover {
  width:30vw;
}

input {
  height: 45px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent
}

.search_bar {
  min-width: 250px;
  width: 15vw;
  border-radius: 50px;
  border: none;
  background-color: #da773551;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
}
.buttons {
 font-family: "Varela Round", sans-serif;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 15px;
		color: white;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		font-weight: 600;
		line-height: center;
		margin: 0;
		min-height: 20px;
		max-height: 45px;
		outline: none;
		padding: 16px;
		text-align: center;
		transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
		user-select: none;
		touch-action: manipulation;
		width: 100%;
		will-change: transform;
    text-decoration: hidden;

}

.buttons:hover {
color: #fff;
		background-color: black;
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
    color:white;
   
}
.buttons:active{
  box-shadow: none;
		transform: translateY(0);
}
.buttonList {
 font-family: "Varela Round", sans-serif;
		background-color: transparent;
		border: 2px solid black;
		border-radius: 15px;
		color: black;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		font-weight: 600;
		line-height: center;
		margin: 0;
		min-height: 20px;
		max-height: 45px;
		outline: none;
		padding: 16px;
		text-align: center;
		transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
		user-select: none;
		touch-action: manipulation;
		width: 100%;
		will-change: transform;
    text-decoration: hidden;

}

.buttonList:hover {
color: #fff;
		background-color: black;
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
    color:white;
    
}
.buttonList:active{
  box-shadow: none;
		transform: translateY(0);
}