header {
  --color: hsl(var(--primary-color), var(--l));
  background-color: var(--color);
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
}
nav{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  text-decoration: hidden;
}
.nav_btn {
 font-family: "Varela Round", sans-serif;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 15px;
		color: white;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		font-weight: 600;
		line-height: center;
		margin: 0;
		min-height: 20px;
		max-height: 45px;
		outline: none;
		padding: 16px;
		text-align: center;
		transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
		user-select: none;
		touch-action: manipulation;
		width: 100%;
		will-change: transform;
    text-decoration: hidden;

}

.nav_btn:hover {
color: #fff;
		background-color: black;
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
    color:white;
    opacity: 85%;
}
.nav_btn:active{
  box-shadow: none;
		transform: translateY(0);
}

h2 {
  font-size: 24px;
  color: white;
}

h5 {
  font-size: 20px;
  color: white;
}



footer {
  height: 150px;
  width: 100%;
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  margin-top: 100px;
  box-sizing: border-box;
}

.social_icons {
  display: flex;
  gap: 5px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrapper {
		display: flex;
		flex-direction: column;
    
	}

.icon {
  display:flex;
  align-items: center;
  justify-content: center;
		height: 50px;
		width: 50px;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.icon:hover .iconHover {
		color: darkblue;
	}
	.icon:hover {
		background-color: white;
		border-radius: 50%;
	}
	.iconHover {
		color: white;
	}
 