form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: fit-content;
  gap: 15px;
  margin-top: 60px;
  padding-bottom:100px;
  
}
fieldset{
  color:black;
  border:4px inset black;
  padding: 10px 100px 10px 100px;
  border-radius:25px;
  margin-top:20px;
  background-color: whitesmoke;
}
legend{
  font-family: 'Qwitcher Grypen', cursive;
  font-size:80px
}
main{
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
section {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color:black;
  font-weight:bolder;
  
}

 form input, form textarea {
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  
  
}
form input[type=radio] {
  height: 35px;
  width: 35px;
  border: 3px;
}

form label {
  font-size: 20px;
}

form input:focus {
  --color: hsl(var(--primary-color), var(--l));
  border: 1px solid var(--color)
}

form h5 {
  color: black;
}

textarea {
  width: 100%;
}

.radio_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.radio_container span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.input_container input {
  width: 100%;
}
.input_container div {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.ingredient_inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

ul {
  width: 50%;
}
.buttons {
 font-family: "Varela Round", sans-serif;
		background-color: transparent;
		border: 2px solid black;
		border-radius: 15px;
		color: black;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		font-weight: 600;
		line-height: center;
		margin: 0;
		min-height: 20px;
		max-height: 45px;
		outline: none;
		padding: 16px;
		text-align: center;
		transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
		user-select: none;
		touch-action: manipulation;
		width: 50%;
		will-change: transform;
    text-decoration: hidden;

}

.buttons:hover {
color: #fff;
		background-color: black;
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
    color:white;
    width:100%
}
.buttons:active{
  box-shadow: none;
		transform: translateY(0);
}